[package]
name = "pcs"
version = "0.7.0"
authors = ["Fortanix, Inc."]
license = "MPL-2.0"
edition = "2018"
description = """
Provisioning Certification Service (PCS) data structures.

Data structures related to the Intel Provisioning Certification Service.
DCAP attestation requires handling of DCAP artifacts (e.g., PCK certs, TCB info, ...).
This crate provides an easy interface for these artifacts.
"""
repository = "https://github.com/fortanix/rust-sgx"
documentation = "https://edp.fortanix.com/docs/api/pcs/"
homepage = "https://edp.fortanix.com/"
keywords = ["sgx", "enclave", "dcap"]
categories = ["os", "hardware-support"]


[dependencies]
chrono = { version = "0.4.40", features = ["now"] }
dcap-ql = { version = "0.4.0", path = "../dcap-ql", default-features = false }
sgx-isa = { version = "0.4.1", path = "../sgx-isa", default-features = true }
pkix = "0.2.0"
yasna = { version = "0.3", features = ["num-bigint", "bit-vec"] }
rustc-serialize = "0.3"
serde = { version = "1.0.7", features = ["derive"] }
sgx_pkix = "0.2"
serde_json = { version = "1.0", features = ["raw_value"] }
percent-encoding = "2.1.0"
base16 = "0.2"
b64-ct = "0.1.3"
failure = "0.1.1"
anyhow = { version = "1", optional = true }
quick-error = "1.2.3"
num = "0.2"
mbedtls = { version = "0.13.0", features = ["std", "time"], default-features = false, optional = true }

[dev-dependencies]
hex = "0.4.2"
tempdir = "0.3.7"

[target.'cfg(not(target_env = "sgx"))'.dev-dependencies]
reqwest = { version = "0.12", features = ["blocking"] }

[features]
verify = ["anyhow", "mbedtls", "mbedtls/x509"]
sgx = []
