[package]
name = "em-app"
version = "0.4.0"
authors = ["fortanix.com"]
license = "MPL-2.0"
edition = "2018"
description = "Rust EDP application library for Fortanix Enclave Manager"
repository = "https://github.com/fortanix/rust-sgx"
categories = [ "api-bindings" ]
keywords = [ "sgx" ]

[dependencies]
b64-ct = "0.1.0"
em-client = { version = "3.0.0", default-features = false, features = ["client"] }
em-node-agent-client = "1.0.0"
hyper = { version = "0.10", default-features = false }
mbedtls = { version = "0.8.1", features = [ "rdrand", "std", "force_aesni_support", "mpi_force_c_code" ], default-features = false }
pkix = "0.1.2"

rustc-serialize = "0.3.24"
sdkms = { version = "0.2.1", default-features = false }
serde = "1.0.123"
serde_bytes = "0.11"
serde_derive = "1.0.123"
serde_json = "1.0"
url = "1"
uuid = { version = "0.6.3", features = ["v4", "serde"] }
uuid_sdkms = { package = "uuid", version = "0.7.4", features = ["v4", "serde"] }

yasna = { version = "0.3", features = ["num-bigint", "bit-vec"] }

[target.x86_64-fortanix-unknown-sgx.dependencies]
sgx_pkix = { version = "0.1.0" }
sgx-isa = { version="0.3", features=["sgxstd"], default-features=false }

[target.x86_64-unknown-linux-musl.dependencies]
nsm-driver = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-driver", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
nsm-io = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-io", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
vme-pkix = { path = "../fortanix-vme/vme-pkix/" }

[target.x86_64-unknown-linux-gnu.dependencies]
nsm-driver = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-driver", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
nsm-io = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-io", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
vme-pkix = { path = "../fortanix-vme/vme-pkix/" }

[target.x86_64-unknown-linux-fortanixvme.dependencies]
nsm-driver = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-driver", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
nsm-io = { git = "https://github.com/aws/aws-nitro-enclaves-nsm-api", package = "nsm-io", rev = "6745598d0e0e8af57e9b96ee2bf3d11b216fe649" }
vme-pkix = { path = "../fortanix-vme/vme-pkix/" }
