branches:
  only:
    # This is where pull requests from "bors r+" are built.
    - staging
    # This is where pull requests from "bors try" are built.
    - trying
    # Not really necessary, just to get a green badge on “master”
    - master
language: rust

matrix:
  include:
    - os: linux
      dist: xenial
      addons:
        apt:
          sources:
            - sourceline: 'deb https://download.01.org/intel-sgx/sgx_repo/ubuntu xenial main'
              key_url: 'https://download.01.org/intel-sgx/sgx_repo/ubuntu/intel-sgx-deb.key'
          packages:
            - protobuf-compiler
            - libsgx-dcap-ql-dev
            - libclang-3.8-dev
            - musl-tools
      rust:
        # This need to change back to `nightly` after https://github.com/fortanix/rust-sgx/issues/433 is fixed
        - nightly-2023-01-31
      env:
        - RUST_BACKTRACE=1 LLVM_CONFIG_PATH=llvm-3.8-config
      before_script:
        - rustup target add x86_64-fortanix-unknown-sgx x86_64-unknown-linux-musl
      script:
        - cargo test --verbose --all --exclude sgxs-loaders --exclude async-usercalls && [ "$(echo $(nm -D target/debug/sgx-detect|grep __vdso_sgx_enter_enclave))" = "w __vdso_sgx_enter_enclave" ]
        - cargo test --verbose -p async-usercalls --target x86_64-fortanix-unknown-sgx --no-run
        - cargo test --verbose -p sgx-isa --features sgxstd --target x86_64-fortanix-unknown-sgx --no-run
        - cargo test --verbose -p dcap-ql --features link
        - cargo test --verbose -p dcap-ql --features verify
        - cargo build --verbose -p aesm-client --target=x86_64-fortanix-unknown-sgx
        - cargo build --verbose -p aesm-client --target=x86_64-fortanix-unknown-sgx --features sgx-isa/sgxstd
        # NOTE: linking glibc version of OpenSSL with musl binary.
        # Unlikely to produce a working binary, but at least the build succeeds.
        - mkdir -p /tmp/muslinclude && ln -sf /usr/include/x86_64-linux-gnu/openssl /tmp/muslinclude/openssl && PKG_CONFIG_ALLOW_CROSS=1 CFLAGS=-I/tmp/muslinclude cargo build -p fortanix-sgx-tools --target x86_64-unknown-linux-musl
