# Minimal application for testing purposes - used to fetch app config via cert auth.
[package]
name = "harmonize"
version = "0.2.0"
authors = ["fortanix.com"]
edition = "2018"
license = "MPL-2.0"

[dependencies]
em-app = { path = "../../" }
mbedtls = { version = "0.9", features = [ "rdrand", "std", "force_aesni_support", "mpi_force_c_code" ], default-features = false }
serde_json = "1.0.62"
serde = "1.0.123"
serde_derive = "1.0.123"
uuid = { version = "0.6.3", features = ["v4", "serde"] }
b64-ct = "0.1.0"
hyper = "0.10"
sdkms = { version = "0.2.1", default-features = false }
rustc-serialize = "0.3.24"
csv = "1.1"
pkix = "0.1.2"
url = "1"
