[package]
name = "dcap-artifact-retrieval"
version = "0.3.2"
authors = ["Fortanix, Inc."]
license = "MPL-2.0"
edition = "2018"
description = """
DCAP artifact retrieval tool for Intel SGX remote attestation.

DCAP attestations require access to Intel-signed artifacts. This library provides clients with
access to these artifacts both from Intel directly, and from Microsoft Azure.
"""
repository = "https://github.com/fortanix/rust-sgx"
documentation = "https://edp.fortanix.com/docs/api/dcap_artifact_retrieval/"
homepage = "https://edp.fortanix.com/"
keywords = ["sgx", "enclave", "dcap"]
categories = ["os", "hardware-support"]


[dependencies]
backoff = "0.4.0"
clap = { version = "2.23.3", optional = true }
lazy_static = "1"
lru-cache = "0.1.2"
mbedtls = { version = "0.12.3", features = [
    "x509",
    "ssl",
    "std",
], default-features = false }
num_enum = { version = "0.7", features = ["complex-expressions"] }
pcs = { version = "0.3.0", path = "../pcs" }
percent-encoding = "2.1.0"
pkix = "0.2.0"
quick-error = "1.1.0"
rustc-serialize = "0.3"
reqwest = { version = "0.12", features = ["blocking", "native-tls"], optional = true }
serde_cbor = "0.11"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[features]
default = ["clap", "reqwest"]
rustls-tls = ["reqwest?/rustls-tls"]

[dev-dependencies]
yasna = { version = "0.3", features = ["num-bigint", "bit-vec"] }
pcs = { version = "0.3.0", path = "../pcs", features = ["verify"] }

[build-dependencies]
mbedtls = { version = "0.12.3", features = ["ssl", "x509"] }
pkix = "0.2.0"
serde_cbor = "0.11"
