[package]
name = "fortanix-vme-abi"
version = "0.1.0"
edition = "2018"
authors = ["Fortanix, Inc."]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
core = { version = "1.0.0", optional = true, package = "rustc-std-workspace-core" }
alloc = { version = "1.0.0", optional = true, package = "rustc-std-workspace-alloc" }
serde = { version = "1.0", default-features = false, optional = true }
vsock = { version = "0.2.4", optional = true }

[dev-dependencies]
serde_cbor = { version = "0.11" }

[features]
std = ["serde/std", "vsock"]
default = ["std"]
docs = []
rustc-dep-of-std = ["core", "alloc", "serde/rustc-dep-of-std"]
