[package]
name = "enclave-runner"
version = "0.7.2"
authors = ["Fortanix, Inc."]
license = "MPL-2.0"
edition = "2018"
description = """
High-level abstractions for running SGX enclaves.

This crate can be used to load and interface with SGX applications compiled for
the `x86_64-fortanix-unknown-sgx` target.
"""
repository = "https://github.com/fortanix/rust-sgx"
documentation = "https://edp.fortanix.com/docs/api/enclave_runner/"
homepage = "https://edp.fortanix.com/"
keywords = ["sgx", "enclave"]
categories = ["os", "hardware-support"]
build = "build.rs"
exclude = ["fake-vdso/.gitignore", "fake-vdso/Makefile", "fake-vdso/main.S"]

[dependencies]
# Project dependencies
sgxs = { version = "0.8.0", path = "../sgxs" }
fortanix-sgx-abi = { version = "0.6.1", path = "../fortanix-sgx-abi" }
sgx-isa = { version = "0.4.0", path = "../sgx-isa" }
insecure-time = { version = "0.1", path = "../insecure-time", features = ["estimate_crystal_clock_freq"] }
ipc-queue = { version = "0.4.0", path = "../../ipc-queue" }

# External dependencies
anyhow = "1.0"                                    # MIT/Apache-2.0
thiserror = "1.0"                                 # MIT/Apache-2.0
fnv = "1"                                         # MIT/Apache-2.0
lazy_static = "1.5.0"                             # MIT/Apache-2.0
libc = "0.2.48"                                   # MIT/Apache-2.0
nix = "0.13.0"                                    # MIT
openssl = { version = "0.10", optional = true }   # Apache-2.0
crossbeam = "0.8.2"                               # MIT/Apache-2.0
num_cpus = "1.10.0"                               # MIT/Apache-2.0
tokio = { version = "1.35", features = ["full"] } # MIT
futures = { version = "0.3", features = ["compat", "io-compat"] } # MIT/Apache-2.0

[features]
default = ["crypto-openssl"]
crypto-openssl = ["openssl", "sgxs/crypto-openssl"]
