[package]
name = "insecure-time"
version = "0.2.1"
authors = ["Fortanix, Inc."]
license = "MPL-2.0"
edition = "2021"
description = """
Insecure time computation based on rdtsc.
"""
repository = "https://github.com/fortanix/rust-sgx"
documentation = "https://edp.fortanix.com/docs/api/insecure_time/"
keywords = ["sgx", "enclave", "time"]
categories = ["os", "hardware-support"]

[[example]]
name = "insecure-time"

[dependencies]
alloc = { version = "1.0.0", optional = true, package = "rustc-std-workspace-alloc" }
core = { version = "1.0.0", optional = true, package = "rustc-std-workspace-core" }

[dev-dependencies]
rand = "0.8"
clap = { version = "4.4", features = ["derive"] }

[features]
default = ["std"]
estimate_crystal_clock_freq = []
rustc-dep-of-std = ["alloc", "core"]
std = []

# Features only available during testing:
long_duration_tests = []
rdtsc_tests = []
