[package]
name = "nitro-attestation-verify"
version = "0.1.1"
authors = ["Adrian Cruceru <adrian.cruceru@fortanix.com>"]
edition = "2018"
publish = false

[dependencies]
chrono = "0.4"
serde_cbor = "0.11"
# Required until PR36 is accepted
# https://github.com/awslabs/aws-nitro-enclaves-cose/pull/36
aws-nitro-enclaves-cose = { version = "0.5.0", git = "https://github.com/fortanix/aws-nitro-enclaves-cose.git", branch = "aj/RTE-126", default-features = false }
mbedtls = { version = "0.12", features = ["rdrand", "std", "time", "ssl"], default-features = false, optional = true }
num-bigint = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
pkix = ">=0.1.2, <0.3.0"
yasna = { version = "0.4", features = ["num-bigint"] }

[dev-dependencies]
chrono = "0.4.0"
pkix = ">=0.1.2, <0.3.0"
lazy_static = "1.3.0"

[features]
default = ["mbedtls"]
