[package]
name = "fortanix-vme-tools"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.0", features = ["derive"] }
fortanix-vme-eif = { path = "../fortanix-vme-eif" }
