[package]
name = "sgx-isa"
version = "0.4.2"
authors = ["Fortanix, Inc."]
license = "MPL-2.0"
description = """
Constants and structures related to the Intel SGX ISA extension.

These definitions correspond to those found in the Intel Software Developers
Manual (SDM), volume 3.
"""
repository = "https://github.com/fortanix/rust-sgx"
documentation = "https://edp.fortanix.com/docs/api/sgx_isa/"
homepage = "https://edp.fortanix.com/"
keywords = ["sgx", "enclave"]
categories = ["hardware-support"]

[dev-dependencies]
# External dependencies
mbedtls = { version = "0.12.1", default-features = false, features = ["std"] }

[dependencies]
# External dependencies
bitflags = "1" # MIT/Apache-2.0
serde = { version = "1.0.104", features = ["derive"], optional = true } # MIT/Apache-2.0

[features]
large_array_derive = []
sgxstd = []
